
  table{
  
    
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 70%;
  }
  table th,table td{
    border: 1px solid #ddd;
    padding: 8px;
  
  }
  .icon{
    
    color:"red";
  }


  .NavbarButton{
    padding:20px;
    margin:10px

  }